# Python virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/

# Exclude Git repository
open-fashion-clip/

# Model weights
weights/
model_weights/
**/weights/